# LINUX_VERSION will be set by apply-configs.sh / 07-configure-grub.sh
# (hd0,1) = /dev/sda1, (hd0,2) = /dev/sda2, etc.

set default=0
set timeout=5

insmod ext2

menuentry "ft_linux - <LINUX_VERSION>-sshevche" {
    set root=(hd0,2)
    linux /boot/vmlinuz-<LINUX_VERSION>-sshevche root=/dev/sda2 ro
}
