# Replace <STUDENT_LOGIN> and <LINUX_VERSION>
# (hd0,1) = /dev/sda1, (hd0,2) = /dev/sda2, etc.

set default=0
set timeout=5

insmod ext2

menuentry "ft_linux - <LINUX_VERSION>-<STUDENT_LOGIN>" {
    set root=(hd0,2)
    linux /boot/vmlinuz-<LINUX_VERSION>-<STUDENT_LOGIN> root=/dev/sda2 ro
}
